<h1>Appointment for <%= @appointment.nice_date %></h1>
<p>Patient: <%= link_to @appointment.patient.name, @appointment.patient %></p>
<p>Doctor: <%= link_to @appointment.doctor.name, @appointment.doctor %></p>
